@import '../../App.scss';

footer{
    background: linear-gradient(to right, rgb(78, 77, 77), rgb(202, 199, 200));
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .logo{
        display: flex;
        margin-top: 4rem;

        @include mobile{
            margin-top: 3rem;
        }

        img{
            height: 55px;
            margin-right: 2rem;

            @include mobile{
                height: 35px;
                margin-right: 1rem;
            }
        }
    }
    hr{
        width: 30%;
        margin-top: 2rem;
        color: grey;

        @include mobile{
            margin-top: 1.5rem;
        }
    }
    .telegram{
        color: white;
        font-size: 3rem;
        margin: 2rem;

        @include mobile{
            font-size: 2.5rem;
            margin: 1.5rem;
        }
    }
    .policy{
        display: flex;
        color: white;
        gap: 50px;

        @include mobile{
            gap: 30px;
        }

        p{
            @include mobile{
                font-size: 13px;
            }
        }
    }

    .lastHR{
        width: 95%;
        margin: 3rem;

        @include mobile{
            margin: 2rem;
        }
    }
    .copyright{
        color: white;
        margin-bottom: 1rem;
    }
}