
.login{
    background-color: rgb(12,14,23);
    height: 100vh;
    display: flex;

    .logo{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .loginContainer{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .wGoogle{
            display: flex;
            align-items: center;
            padding: .5rem 2rem .5rem 2rem;
            svg{
                margin-right: .2rem;
            }
        }

        input{
            width: 100%;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid grey;
            margin-top: 2rem;
            color: aliceblue;
        }

        .forgot{
            color: #FF5252;
            margin-top: 1rem;
        }

        .or{
            color: grey;
            margin-top: 1.5rem;
        }
        .loginButton{
            background-color: rgb(28,31,39);
            border: none;
            padding: .8rem 3rem .8rem 3rem;
            color: antiquewhite;
            margin-top: 1.5rem;
        }

        h5{
            color: grey;
            margin-top: 1.2rem;
            span{
                color: #FF5252;
            }
        }
    }
}