@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,600;0,700;1,600&family=Inter:wght@500;600;700;900&family=Joti+One&family=Montserrat:ital,wght@0,500;1,500&family=Outfit:wght@500;600;900&family=Playfair+Display&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&family=Righteous&family=Roboto:wght@300;400;500&family=Rubik&family=Rubik+Glitch&family=Rubik+Maps&family=Rubik+Scribble&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
  // overflow: hidden;
}
:root {
  --primary-color: rgb(209, 36, 85);
  --secondary-color: rgb(14,36,83);
  // --background-color: #0E0E0E;
  // --accent-color: #b4b2b2;
}
body{
  font-family: 'Roboto', sans-serif;
}

@mixin small {
  @media (max-width: 300px) {
      @content;
  }
}
@mixin mobile {
  @media (min-width: 300px) and (max-width: 738px) {
      @content;
  }
}

@mixin tablet {
  @media (min-width: 739px) and (max-width: 1024px) {
      @content;
  }
}

@mixin desktop {
  @media (min-width: 1025px) and (max-width: 1366px) {
      @content;
  }
}

